*/bin/
*/gen/
*/Sketches/
*/local.properties/
HoloColorPicker-master.zip
HoloColorPicker-master/.gitignore
HoloColorPicker-master/AndroidManifest.xml
HoloColorPicker-master/LICENSE
HoloColorPicker-master/README.md
HoloColorPicker-master/build.gradle
HoloColorPicker-master/pom.xml
HoloColorPicker-master/project.properties
HoloColorPicker-master/res/values/attrs.xml
HoloColorPicker-master/res/values/dimens.xml
HoloColorPicker-master/settings.gradle
HoloColorPicker-master/src/com/larswerkman/colorpicker/ColorPicker.java
HoloColorPicker-master/src/com/larswerkman/colorpicker/OpacityBar.java
HoloColorPicker-master/src/com/larswerkman/colorpicker/SVBar.java
HoloColorPicker-master/src/com/larswerkman/colorpicker/SaturationBar.java
HoloColorPicker-master/src/com/larswerkman/colorpicker/ValueBar.java
HorizontalVariableListView-master.zip
HorizontalVariableListView-master/.gitignore
HorizontalVariableListView-master/Demo/.classpath
HorizontalVariableListView-master/Demo/.project
HorizontalVariableListView-master/Demo/AndroidManifest.xml
HorizontalVariableListView-master/Demo/libs/android-support-v4.jar
HorizontalVariableListView-master/Demo/proguard-project.txt
HorizontalVariableListView-master/Demo/project.properties
HorizontalVariableListView-master/Demo/res/drawable-hdpi/ic_action_search.png
HorizontalVariableListView-master/Demo/res/drawable-hdpi/ic_launcher.png
HorizontalVariableListView-master/Demo/res/drawable-mdpi/ic_action_search.png
HorizontalVariableListView-master/Demo/res/drawable-mdpi/ic_launcher.png
HorizontalVariableListView-master/Demo/res/drawable-xhdpi/ic_action_search.png
HorizontalVariableListView-master/Demo/res/drawable-xhdpi/ic_launcher.png
HorizontalVariableListView-master/Demo/res/drawable-xhdpi/image.png
HorizontalVariableListView-master/Demo/res/drawable/image_background_selector.xml
HorizontalVariableListView-master/Demo/res/drawable/line_divider.xml
HorizontalVariableListView-master/Demo/res/layout/activity_main.xml
HorizontalVariableListView-master/Demo/res/layout/divider.xml
HorizontalVariableListView-master/Demo/res/layout/view1.xml
HorizontalVariableListView-master/Demo/res/menu/activity_main.xml
HorizontalVariableListView-master/Demo/res/values-v11/styles.xml
HorizontalVariableListView-master/Demo/res/values-v14/styles.xml
HorizontalVariableListView-master/Demo/res/values/strings.xml
HorizontalVariableListView-master/Demo/res/values/styles.xml
HorizontalVariableListView-master/Demo/src/it/sephiroth/android/sample/horizontalvariablelistviewdemo/MainActivity.java
HorizontalVariableListView-master/HorizontalVariableListView/.classpath
HorizontalVariableListView-master/HorizontalVariableListView/.project
HorizontalVariableListView-master/HorizontalVariableListView/AndroidManifest.xml
HorizontalVariableListView-master/HorizontalVariableListView/libs/android-support-v4.jar
HorizontalVariableListView-master/HorizontalVariableListView/proguard-project.txt
HorizontalVariableListView-master/HorizontalVariableListView/project.properties
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-hdpi/ic_action_search.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-hdpi/ic_launcher.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-mdpi/ic_action_search.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-mdpi/ic_launcher.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-mdpi/overscroll_edge.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-mdpi/overscroll_glow.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-xhdpi/ic_action_search.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-xhdpi/ic_launcher.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-xhdpi/overscroll_edge.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-xhdpi/overscroll_glow.png
HorizontalVariableListView-master/HorizontalVariableListView/res/values-v11/styles.xml
HorizontalVariableListView-master/HorizontalVariableListView/res/values-v14/styles.xml
HorizontalVariableListView-master/HorizontalVariableListView/res/values/strings.xml
HorizontalVariableListView-master/HorizontalVariableListView/res/values/styles.xml
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/utils/DataSetObservableExtended.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/utils/DataSetObserverExtended.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/utils/ReflectionUtils.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/BaseAdapterExtended.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/EdgeGlow.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/Fling8Runnable.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/Fling9Runnable.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/HorizontalListView.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/HorizontalVariableListView.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/IFlingRunnable.java
HorizontalVariableListView-master/README.md
NotificationWatcher-master.zip
NotificationWatcher-master/.classpath
NotificationWatcher-master/.project
NotificationWatcher-master/.settings/org.eclipse.jdt.core.prefs
NotificationWatcher-master/AndroidManifest.xml
NotificationWatcher-master/README.textile
NotificationWatcher-master/proguard.cfg
NotificationWatcher-master/project.properties
NotificationWatcher-master/res/drawable-hdpi/ic_launcher.png
NotificationWatcher-master/res/drawable-ldpi/ic_launcher.png
NotificationWatcher-master/res/drawable-mdpi/ic_launcher.png
NotificationWatcher-master/res/layout/list.xml
NotificationWatcher-master/res/layout/main.xml
NotificationWatcher-master/res/values/strings.xml
NotificationWatcher-master/src/com/jason/Database/NotificationObject.java
NotificationWatcher-master/src/com/jason/Database/SqlDb.java
NotificationWatcher-master/src/com/jason/NotificationWatcher/ListViewAdapter.java
NotificationWatcher-master/src/com/jason/NotificationWatcher/NotificationWatcherActivity.java
NotificationWatcher-master/src/com/jason/Service/NoficationService.java
device-2013-06-26-123547.png
device-2013-06-26-123632.png
device-2013-06-27-134922.png
teme.txt
