*/bin/
*/gen/
*/Sketches/
*/local.properties/
HoloColorPicker-master.zip
HoloColorPicker-master/.gitignore
HoloColorPicker-master/AndroidManifest.xml
HoloColorPicker-master/LICENSE
HoloColorPicker-master/README.md
HoloColorPicker-master/build.gradle
HoloColorPicker-master/pom.xml
HoloColorPicker-master/project.properties
HoloColorPicker-master/res/values/attrs.xml
HoloColorPicker-master/res/values/dimens.xml
HoloColorPicker-master/settings.gradle
HoloColorPicker-master/src/com/larswerkman/colorpicker/ColorPicker.java
HoloColorPicker-master/src/com/larswerkman/colorpicker/OpacityBar.java
HoloColorPicker-master/src/com/larswerkman/colorpicker/SVBar.java
HoloColorPicker-master/src/com/larswerkman/colorpicker/SaturationBar.java
HoloColorPicker-master/src/com/larswerkman/colorpicker/ValueBar.java
HorizontalVariableListView-master.zip
HorizontalVariableListView-master/.gitignore
HorizontalVariableListView-master/Demo/.classpath
HorizontalVariableListView-master/Demo/.project
HorizontalVariableListView-master/Demo/AndroidManifest.xml
HorizontalVariableListView-master/Demo/libs/android-support-v4.jar
HorizontalVariableListView-master/Demo/proguard-project.txt
HorizontalVariableListView-master/Demo/project.properties
HorizontalVariableListView-master/Demo/res/drawable-hdpi/ic_action_search.png
HorizontalVariableListView-master/Demo/res/drawable-hdpi/ic_launcher.png
HorizontalVariableListView-master/Demo/res/drawable-mdpi/ic_action_search.png
HorizontalVariableListView-master/Demo/res/drawable-mdpi/ic_launcher.png
HorizontalVariableListView-master/Demo/res/drawable-xhdpi/ic_action_search.png
HorizontalVariableListView-master/Demo/res/drawable-xhdpi/ic_launcher.png
HorizontalVariableListView-master/Demo/res/drawable-xhdpi/image.png
HorizontalVariableListView-master/Demo/res/drawable/image_background_selector.xml
HorizontalVariableListView-master/Demo/res/drawable/line_divider.xml
HorizontalVariableListView-master/Demo/res/layout/activity_main.xml
HorizontalVariableListView-master/Demo/res/layout/divider.xml
HorizontalVariableListView-master/Demo/res/layout/view1.xml
HorizontalVariableListView-master/Demo/res/menu/activity_main.xml
HorizontalVariableListView-master/Demo/res/values-v11/styles.xml
HorizontalVariableListView-master/Demo/res/values-v14/styles.xml
HorizontalVariableListView-master/Demo/res/values/strings.xml
HorizontalVariableListView-master/Demo/res/values/styles.xml
HorizontalVariableListView-master/Demo/src/it/sephiroth/android/sample/horizontalvariablelistviewdemo/MainActivity.java
HorizontalVariableListView-master/HorizontalVariableListView/.classpath
HorizontalVariableListView-master/HorizontalVariableListView/.project
HorizontalVariableListView-master/HorizontalVariableListView/AndroidManifest.xml
HorizontalVariableListView-master/HorizontalVariableListView/libs/android-support-v4.jar
HorizontalVariableListView-master/HorizontalVariableListView/proguard-project.txt
HorizontalVariableListView-master/HorizontalVariableListView/project.properties
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-hdpi/ic_action_search.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-hdpi/ic_launcher.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-mdpi/ic_action_search.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-mdpi/ic_launcher.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-mdpi/overscroll_edge.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-mdpi/overscroll_glow.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-xhdpi/ic_action_search.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-xhdpi/ic_launcher.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-xhdpi/overscroll_edge.png
HorizontalVariableListView-master/HorizontalVariableListView/res/drawable-xhdpi/overscroll_glow.png
HorizontalVariableListView-master/HorizontalVariableListView/res/values-v11/styles.xml
HorizontalVariableListView-master/HorizontalVariableListView/res/values-v14/styles.xml
HorizontalVariableListView-master/HorizontalVariableListView/res/values/strings.xml
HorizontalVariableListView-master/HorizontalVariableListView/res/values/styles.xml
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/utils/DataSetObservableExtended.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/utils/DataSetObserverExtended.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/utils/ReflectionUtils.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/BaseAdapterExtended.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/EdgeGlow.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/Fling8Runnable.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/Fling9Runnable.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/HorizontalListView.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/HorizontalVariableListView.java
HorizontalVariableListView-master/HorizontalVariableListView/src/it/sephiroth/android/library/widget/IFlingRunnable.java
HorizontalVariableListView-master/README.md
NotificationWatcher-master.zip
NotificationWatcher-master/.classpath
NotificationWatcher-master/.project
NotificationWatcher-master/.settings/org.eclipse.jdt.core.prefs
NotificationWatcher-master/AndroidManifest.xml
NotificationWatcher-master/README.textile
NotificationWatcher-master/proguard.cfg
NotificationWatcher-master/project.properties
NotificationWatcher-master/res/drawable-hdpi/ic_launcher.png
NotificationWatcher-master/res/drawable-ldpi/ic_launcher.png
NotificationWatcher-master/res/drawable-mdpi/ic_launcher.png
NotificationWatcher-master/res/layout/list.xml
NotificationWatcher-master/res/layout/main.xml
NotificationWatcher-master/res/values/strings.xml
NotificationWatcher-master/src/com/jason/Database/NotificationObject.java
NotificationWatcher-master/src/com/jason/Database/SqlDb.java
NotificationWatcher-master/src/com/jason/NotificationWatcher/ListViewAdapter.java
NotificationWatcher-master/src/com/jason/NotificationWatcher/NotificationWatcherActivity.java
NotificationWatcher-master/src/com/jason/Service/NoficationService.java
device-2013-06-26-123547.png
device-2013-06-26-123632.png
device-2013-06-27-134922.png
teme.txt
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/BuildConfig.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/ColorPicker$OnColorChangedListener.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/ColorPicker.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/OpacityBar.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/R$attr.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/R$dimen.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/R$styleable.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/R.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/SVBar.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/SaturationBar.class
out/production/HoloColorPicker/com/larswerkman/holocolorpicker/ValueBar.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/BuildConfig.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/LedRGB.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/R$attr.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/R$drawable.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/R$string.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/R$style.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/R.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/ServoMotor.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/ServoMotorEntity.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/SmartLamp.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/api/SmartLampAPI.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/AllCommandConfiguration.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/Command.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/CommandCallback.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/CommandConsumer.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/CommandEngine$1.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/CommandEngine.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/ConsumerCallback.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/LedSetCommand.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/LedStateCommand.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/ServoSetCommand.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/ServoStateCommand.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/SetAllCommand.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/filter/BlankCommandFilter.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/filter/CommandFilter.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/filter/CommandFilterChain.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/filter/CommandFilterManager.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/filter/CommandTarget.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/filter/SplitterCommandFilter.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/command/filter/TimeCommandFilter.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/BridgeBuildCallback.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/ConnectionFactory$1.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/ConnectionFactory.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/ConnectionStatusListener.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/ConnectionType.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/SmartLampCommunicationBridge.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/SmartLampConnectionManager$1.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/SmartLampConnectionManager.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/UserAppContextHolder.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothCommunicationBridge$1.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothCommunicationBridge.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothConnectionControl$1.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothConnectionControl$2.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothConnectionControl.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothConnectionHolder.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothConnectionService$ConnectThread.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothConnectionService$ConnectedThread.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothConnectionService.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothDeviceFinder$1.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/BluetoothDeviceFinder.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/ConnectedListener.class
out/production/SmartLampSDK/com/gergelydezso/smartlampsdk/connection/bluetooth/FinderCallback.class
out/production/SmartLampSample/SmartLampSample.apk
out/production/SmartLampSample/SmartLampSample.unaligned.apk
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/BuildConfig.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/R$drawable.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/R$string.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/R$style.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/R.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/BuildConfig.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$anim.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$array.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$attr.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$color.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$dimen.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$drawable.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$id.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$layout.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$menu.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$raw.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$string.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$style.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$styleable.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R$xml.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/R.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/SmartLampAPIHolder.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/SmartLampSampleApplication.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/colorcontrol/ColorControlImageFragment$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/colorcontrol/ColorControlImageFragment.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/colorcontrol/ColorControlPickerFragment$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/colorcontrol/ColorControlPickerFragment.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/colorcontrol/ColorPickerCustomView.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/intro/Intro$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/intro/Intro$2.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/intro/Intro$3.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/intro/Intro.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/menu/BaseMenuActivity$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/menu/BaseMenuActivity$DrawerItemClickListener.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/menu/BaseMenuActivity.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/menu/ListMenuAdapter$ViewHolder.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/menu/ListMenuAdapter.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/menu/ListMenuItemModel.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/motioncontrol/LampModel.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/motioncontrol/LampMotion$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/motioncontrol/LampMotion$MovingArm.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/motioncontrol/LampMotion.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/motioncontrol/MotionFragment$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/motioncontrol/MotionFragment$2.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/motioncontrol/MotionFragment$3.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/motioncontrol/MotionFragment.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/MusicVisualizationFragment.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/AccesibilityNotificationListenerService.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/CallReceiver.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/DeviceNotifications$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/DeviceNotifications.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/Notification.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationItem$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationItem$2.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationItem$NotificationItemCallback.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationItem.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationListener.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationSettings.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationsFragment$1$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationsFragment$1$2.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationsFragment$1$3$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationsFragment$1$3.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationsFragment$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/NotificationsFragment.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/notifications/SMSBroadcastReceiver.class
out/production/SmartLampSample/com/larswerkman/holocolorpicker/BuildConfig.class
out/production/SmartLampSample/com/larswerkman/holocolorpicker/R$attr.class
out/production/SmartLampSample/com/larswerkman/holocolorpicker/R$dimen.class
out/production/SmartLampSample/com/larswerkman/holocolorpicker/R$styleable.class
out/production/SmartLampSample/com/larswerkman/holocolorpicker/R.class
out/production/sample/jp/funnything/colorbar/ARGBActivity$1.class
out/production/sample/jp/funnything/colorbar/ARGBActivity$2.class
out/production/sample/jp/funnything/colorbar/ARGBActivity.class
out/production/sample/jp/funnything/colorbar/BuildConfig.class
out/production/sample/jp/funnything/colorbar/CMYKActivity$1.class
out/production/sample/jp/funnything/colorbar/CMYKActivity$2.class
out/production/sample/jp/funnything/colorbar/CMYKActivity.class
out/production/sample/jp/funnything/colorbar/HSVActivity$1.class
out/production/sample/jp/funnything/colorbar/HSVActivity$2.class
out/production/sample/jp/funnything/colorbar/HSVActivity.class
out/production/sample/jp/funnything/colorbar/MainActivity$1.class
out/production/sample/jp/funnything/colorbar/MainActivity$2.class
out/production/sample/jp/funnything/colorbar/MainActivity$3.class
out/production/sample/jp/funnything/colorbar/MainActivity$4.class
out/production/sample/jp/funnything/colorbar/MainActivity.class
out/production/sample/jp/funnything/colorbar/R$attr.class
out/production/sample/jp/funnything/colorbar/R$drawable.class
out/production/sample/jp/funnything/colorbar/R$id.class
out/production/sample/jp/funnything/colorbar/R$layout.class
out/production/sample/jp/funnything/colorbar/R$string.class
out/production/sample/jp/funnything/colorbar/R.class
out/production/sample/jp/funnything/colorbar/RGBActivity$1.class
out/production/sample/jp/funnything/colorbar/RGBActivity$2.class
out/production/sample/jp/funnything/colorbar/RGBActivity.class
out/production/sample/jp/funnything/colorbar/color/ARGBAlphaBarView.class
out/production/sample/jp/funnything/colorbar/color/ARGBBarView.class
out/production/sample/jp/funnything/colorbar/color/ARGBBlueBarView.class
out/production/sample/jp/funnything/colorbar/color/ARGBGreenBarView.class
out/production/sample/jp/funnything/colorbar/color/ARGBRedBarView.class
out/production/sample/jp/funnything/colorbar/color/CMYKBarView.class
out/production/sample/jp/funnything/colorbar/color/CMYKCyanBarView.class
out/production/sample/jp/funnything/colorbar/color/CMYKKeyBarView.class
out/production/sample/jp/funnything/colorbar/color/CMYKMagentaBarView.class
out/production/sample/jp/funnything/colorbar/color/CMYKYellowBarView.class
out/production/sample/jp/funnything/colorbar/color/ColorBarHelper.class
out/production/sample/jp/funnything/colorbar/color/ColorBarView.class
out/production/sample/jp/funnything/colorbar/color/HSVBarView.class
out/production/sample/jp/funnything/colorbar/color/HSVHueBarView.class
out/production/sample/jp/funnything/colorbar/color/HSVSaturationBarView.class
out/production/sample/jp/funnything/colorbar/color/HSVValueBarView.class
out/production/sample/jp/funnything/colorbar/color/OnColorChangeListener.class
out/production/sample/jp/funnything/colorbar/color/RGBBarView.class
out/production/sample/jp/funnything/colorbar/color/RGBBlueBarView.class
out/production/sample/jp/funnything/colorbar/color/RGBGreenBarView.class
out/production/sample/jp/funnything/colorbar/color/RGBRedBarView.class
out/production/sample/sample.apk
out/production/sample/sample.unaligned.apk
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/ColorBarLib.xml
.idea/libraries/ColorPicker.xml
.idea/libraries/android_support_v4.xml
.idea/libraries/android_support_v41.xml
.idea/libraries/annotations_b1a9fe15593a2337de421f6205187afa.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/colorcontrol/ColorPickerView$OnColorChangedListener.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/colorcontrol/ColorPickerView.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/colorcontrol/LightView.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/MusicVisualizationFragment$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/MusicVisualizationFragment$2.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/MusicVisualizationFragment$3.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/MusicVisualizationFragment$4.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/VisualizerView$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/VisualizerView.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/playlist/PlayListAdapter.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/playlist/PlayListItem$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/playlist/PlayListItem.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/playlist/PlaylistActivity$1.class
out/production/SmartLampSample/com/gergelydezso/smartlampsdk/sampleapp/musicvisualization/playlist/PlaylistActivity.class
out/production/SmartLampTest/SmartLampTest.apk
out/production/SmartLampTest/SmartLampTest.unaligned.apk
out/production/SmartLampTest/com/gergelydezso/smartlampsdk/test/BuildConfig.class
out/production/SmartLampTest/com/gergelydezso/smartlampsdk/test/R$attr.class
out/production/SmartLampTest/com/gergelydezso/smartlampsdk/test/R$drawable.class
out/production/SmartLampTest/com/gergelydezso/smartlampsdk/test/R$string.class
out/production/SmartLampTest/com/gergelydezso/smartlampsdk/test/R.class
out/production/SmartLampTest/com/gergelydezso/smartlampsdk/test/TestTest.class
out/
